.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap:40px;
    margin:20px;
    
}
header{
    margin:20px;
    background-color: #F2B6A0;
    padding: 20px;
    border-radius: 20px;
}
.container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #B8E7E1;
}
img{
    width: 300px;
    height:300px;
    border: 1px solid black;
}
.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
    background-color: #F2B6A0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;;
}
h1,h2{
    text-align: center;
}
footer{
    padding-left: 10px;
    margin-top: 20px;

}
.container a:hover{
    background-color: aqua;
}
@media (max-width:700px){
    .container{

        display:flex;
        flex-direction: column;;
    }
    img{
        width:250px;
        height:250px;
    }
    h1{
        font-size:24px;
    }
    h2{
        font-size: 18px;;
    }
}
@media (max-width:350px)
{
    .container{

        display:flex;
        flex-direction: column;;
    }
    img{
        width:200px;
        height:200px;
    }
    h1{
        font-size:24px;
    }
    h2{
        font-size: 18px;;
    }
}